body{
  background-image: url(../src/assets/61802.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;

}
.card{
  justify-items: center;
}
